.elementor-widget-tk-pricing-table .elementor-widget-container{background-color:#f8f8f8}
.tk-pricing-table{overflow:hidden;text-align:center;-webkit-transition:all .25s linear 0s;transition:all .25s linear 0s}
.tk-pricing-table-container{position:relative}
.tk-pricing-table.horizontal-table{display:-webkit-box;display:-ms-flexbox;display:flex}
.tk-pricing-table.horizontal-table .tk-pricing-table-features,.tk-pricing-table.horizontal-table .tk-pricing-table-footer,.tk-pricing-table.horizontal-table .tk-pricing-table-head{-webkit-box-flex:1;-ms-flex:1;flex:1}
.tk-pricing-table-align-left .tk-pricing-table{text-align:left}
.tk-pricing-table-align-left .tk-pricing-table-price{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.tk-pricing-table-align-right .tk-pricing-table{text-align:right}
.tk-pricing-table-align-right .tk-pricing-table-price{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.tk-pricing-table-head{background:#7a7a7a;padding:30px}
.tk-pricing-table .tk-pricing-table-icon{display:inline-block}
.tk-pricing-table .tk-pricing-table-title-wrap .tk-pricing-table-title{margin-bottom:0}
.tk-pricing-table .tk-pricing-table-title-wrap .tk-pricing-table-subtitle{margin-bottom:0}
.tk-pricing-table .tk-pricing-table-price{font-size:40px;margin-left:auto;margin-right:auto;padding:30px}
.tk-pricing-table-price-value{display:-webkit-box;display:-ms-flexbox;display:flex}
.tk-pricing-table-after-part{font-size:.4em;line-height:1;-ms-flex-item-align:start;align-self:flex-start}
.tk-pricing-table .tk-pricing-table-features{list-style:none;margin:0;padding:0}
.tk-pricing-table .tk-pricing-table-features li{margin:0;padding:0}
.tk-pricing-table .tk-pricing-table-features li:last-child{border-bottom:0}
.tk-pricing-table .tk-pricing-table-features .excluded{text-decoration:line-through}
.tk-pricing-table .tk-pricing-table-price-prefix,
.tk-pricing-table .tk-pricing-table-price-duration{font-size:.4em;line-height:1;text-align:left}
.tk-pricing-table .tk-pricing-table-price-prefix{-ms-flex-item-align:start;align-self:flex-start}
.tk-pricing-table .tk-pricing-table-price-duration{-ms-flex-item-align:end;align-self:flex-end}
.tk-pricing-table-price-duration-wrap .tk-pricing-table-price{-ms-flex-wrap:wrap;flex-wrap:wrap}
.tk-pricing-table-price-duration-wrap .tk-pricing-table-price-duration{text-align:center;width:100%}
.tk-pricing-table .tk-pricing-table-price-value{line-height:.9}
.tk-pricing-table-price,.tk-pricing-table-price-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%}
.tk-pricing-table-price-original{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;font-size:.5em;line-height:1;-ms-flex-item-align:end;align-self:flex-end;text-decoration:line-through}
.tk-pricing-table-feature-content{display:inline-block}
.tk-pricing-table-ribbon{color:#fff;font-size:13px;font-weight:700;position:absolute;text-align:center;text-transform:uppercase;top:0;z-index:2}
.tk-pricing-table-ribbon-inner{background:#101010}
.tk-pricing-table-ribbon-1{position:absolute;top:0;width:150px;overflow:hidden;height:150px}
.tk-pricing-table-ribbon-1.tk-pricing-table-ribbon-right{left:auto;right:0;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.tk-pricing-table-ribbon-1.tk-pricing-table-ribbon-left{left:0;right:auto;-webkit-transform:rotate(0);transform:rotate(0)}
.tk-pricing-table-ribbon-1 .tk-pricing-table-ribbon-inner{text-align:center;left:0;width:200%;-webkit-transform:translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);transform:translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);margin-top:35px;line-height:2}
.tk-pricing-table-ribbon-2{border-radius:50%;line-height:4em;min-height:4em;min-width:4em}
.tk-pricing-table-ribbon-2 .tk-pricing-table-ribbon-inner{background:#61ce70;border-radius:50%}
.tk-pricing-table-ribbon-2.tk-pricing-table-ribbon-right{-webkit-transform:translateX(38%) translateY(-38%);transform:translateX(38%) translateY(-38%)}
.tk-pricing-table-ribbon-2.tk-pricing-table-ribbon-left{-webkit-transform:translateX(-38%) translateY(-38%);transform:translateX(-38%) translateY(-38%)}
.tk-pricing-table-ribbon-right{right:0}
.tk-pricing-table-ribbon-left{left:0}
.tk-pricing-table-ribbon-3{background:#61ce70;top:10%}
.tk-pricing-table-ribbon-3 .tk-pricing-table-ribbon-inner{padding:3px 18px}
.tk-pricing-table-ribbon-3:after,.tk-pricing-table-ribbon-3:before{border-bottom:8px solid transparent;content:'';display:block;position:absolute;height:0;width:0;top:100%}
.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-right{border-radius:3px 3px 0 3px;right:-8px}
.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-right:after,.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-right:before{right:0}
.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-right:before{border-left:8px solid #101010}
.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-right:after{border-left:8px solid rgba(0,0,0,.2)}
.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-left{border-radius:3px 3px 3px 0;left:-8px}
.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-left:after,.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-left:before{left:0}
.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-left:before{border-right:8px solid #101010}
.tk-pricing-table-ribbon-3.tk-pricing-table-ribbon-left:after{border-right:8px solid rgba(0,0,0,.2)}